$def with (form,results_str)
<!DOCTYPE html>
<html lang='en-GB'>
<head>
    <link rel="stylesheet" type='text/css' href="/static/skeleton.css" />
    <meta charset='utf-8'>
    <div class='container'>
    <title>FTSCite: Full Text BibTeX Search</title>
</head>
<body>
<div class="row">
    <div class="three columns">
        <ul>
            <h1>FTSCite</h1>
            <li><a href='/upload'>Upload BibTeX File</a></li>
            <li>API Documentation</li>
        </ul>
    </div>
    <div class="nine columns">
    <form>
        $:form.phrase.render()
    </form>
    <pre>$results_str</pre>
    </div>
</body>
</html>
