$def with (idstrs_added,duplicate_count)
$var title: Upload BibTeX File
<div class='row'>
<div class='well col-md-4 col-md-offset-4'>
<form method="POST" enctype="multipart/form-data" action="">
    <fieldset class='the-fieldset'>
        <legend class='the-legend'>Choose file to upload</legend>
        <input type="file" id='file' name="myfile" />
        <input type="submit" value='Process File'/>
    </fieldset>
</form>
</div>
</div>

<h2>Entries Added</h2>
$if idstrs_added == []:
    No entries added.
<ul>
$for idstr in idstrs_added:
    <li>$idstr</li>
</ul>
<h2>Duplicates Found</h2> 
Duplicate count = $duplicate_count
